# Welcome to Topic 7's Notebook!

Use this notebook as you go through Topic 7's slides.

Slide 9: **Importing the Pandas Library**

In [ ]:
import pandas as pd

Slide 11: **Upload the downloaded files**
( Students.csv, Students.xlsx, Students.json )

In [ ]:
from google.colab import files
files.upload()

Slide 12: **Reading an Excel file**

In [ ]:
# Assign the newly read data to 'df_students'
df_students = pd.read_excel('Students.xlsx')
# Display as a DataFrame
df_students

Slide 13: **Reading a JSON file**

In [ ]:
# Replaces 'df_students' with the newly read data
df_students = pd.read_json('Students.json')
# Display as a DataFrame
df_students

Slide 14: **Reading a CSV file**

In [ ]:
# Replaces 'df_students' with the newly read data
df_students = pd.read_csv('Students.csv')
# Display as a DataFrame
df_students

Slide 15: **Head()**

In [ ]:
# For DataFrame 'df_students', return the first 5 records
df_students.head()

Slide 16: **Shape**

In [ ]:
# For DataFrame 'df_students', count the number of Rows & Columns
df_students.shape

Slide 17: **Describe()**

In [ ]:
# For DataFrame 'df_students', list a summary of the DataFrame's values 
df_students.describe()

Slide 18: **Describe(include='all')**

In [ ]:
# For DataFrame 'df_students', list a summary of the DataFrame's values 
df_students.describe(include='all')

Slide 20: **Isnull()**

In [ ]:
# For DataFrame 'df_students', check if there are any null values. If True = NULL/NaN, If False = Not NULL/NaN
df_students.isnull()

Slide 20: **columns**

In [ ]:
# For DataFrame 'df_students', list all columns
df_students.columns

Slide 21: **DF['column'].nunique()**

In [ ]:
# For DataFrame 'df_students', count the number of unique values for column 'Student ID'
df_students['Student ID'].nunique()

In [ ]:
# For DataFrame 'df_students', count the number of unique values for column 'Age'
df_students['Age'].nunique()

Slide 22: **DF['column'].value_counts()**

In [ ]:
# For DataFrame 'df_students', count the number of times a value is repeated for column 'Age'
df_students['Age'].value_counts()

Slide 23: **DF['column'].min()**

In [ ]:
# For DataFrame 'df_students', find the minimum value of column 'Age'
df_students['Age'].min()

Slide 24: **DF['column'].max()**

In [ ]:
# For DataFrame 'df_students', find the maximum value of column 'Age'
df_students['Age'].max()

Slide 25: **DF['column'].mean()**

In [ ]:
# For DataFrame 'df_students', find the mean/average value of column 'Age'
df_students['Age'].mean()

Slide 26: **df.groupby['column'].mean()**

In [ ]:
# For DataFrame 'df_students', finds the average of all numeric columns grouped by Age
df_students.groupby('Age').mean()

Slide 27: **df.groupby['column'].mean()['column'].sort_values()**

In [ ]:
# For DataFrame 'df_students', groupby the Age sorted to the corresponding Average PCI 
df_students.groupby('Age').mean()['PCI'].sort_values(ascending=False)

Slide 29: **df = df.drop_duplicates**

In [ ]:
# Run this before .drop_duplicates() to see amount of rows/cols of the original data
df_students.shape

In [ ]:
# Drop duplicates found in DataFrame 'df_students'
df_students = df_students.drop_duplicates() 
# Display the DataFrame and its values                                    
df_students

In [ ]:
# Run this after .drop_duplicates to see the change in total records of the data
df_students.shape

Slide 31: **df['column'].fillna()**

In [ ]:
# For DataFrame 'df_students', fill NaN values found at column 'GPA' with 0, inplace: replace the values directly on the original DataFrame
df_students['GPA'].fillna(0, inplace = True) 
# Display the DataFrame and its values                                   
df_students

Slide 34: **Export an Excel file**

In [ ]:
# Dataframe function to export as an Excel format (saved in runtime only)
df_students.to_excel('Students_updated.xlsx')

Slide 35: **Export a JSON file**

In [ ]:
# Dataframe function to export as a JSON format (saved in runtime only)
df_students.to_json('Students_updated.json')

Slide 36: **Export a CSV file**

In [ ]:
# Dataframe function to export as a CSV format (saved in runtime only)
df_students.to_csv('Students_updated.csv')